main {
    -webkit-transition: background 2s; /* Safari */
    transition: background 2s;
 }
main.contact {
    background: PaleVioletRed;
}
main.about {
    background: DarkSalmon;
}
main.projects {
    background: SteelBlue;
}
main.projects.projectItem {
    background: #303030;
}

main.projects.projectItem.projectItem-2,
main.projects.projectItem.projectItem-4,
main.projects.projectItem.projectItem-6,
main.projects.projectItem.projectItem-8
{
    background: Lavender;
}
