.topBar {
    background: #fff;
}

.page, .page.projects {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.page.project-item nav.inlineNav {
    width: 100%;
    justify-content: space-between;
}

.page section.content,
.page.project-item header {
    max-width: 920px;
}


h3.statement {
    font-size: 5.5rem;
}

.home a {
    text-decoration: none;
}

.home a.someFunWithHover .twoCat {
    text-decoration: line-through;
}

.home a:hover {
    text-decoration: line-through;
}

.home a.someFunWithHover:hover {
    text-decoration: none;
}

.home a.someFunWithHover:hover .fullStack {
    text-decoration: line-through;
}

.home a.someFunWithHover:hover .twoCant {
    text-decoration: none;
}



.home a.someFunWithHover:hover .twoCat {
    text-decoration: none !important;
}


h3.illustration {
    margin-top: 200px;
}

h3.illustration a {
    position: relative;
}

h3.illustration a svg {
    position: absolute;
    top: -208px;
    fill: #020202;
}


h3.illustration a.frontends {
    padding-right: 150px;
}

h3.illustration a.frontends svg {
    right: -20px;
}


h3.illustration a.backends {
    padding-left: 150px;
}

h3.illustration a.backends svg {
    left: -20px;
}

h2.tagLine {
    margin-top: 50px;
}



/* Contact me page */


:not(output):-moz-ui-invalid {
    box-shadow: none;
}

:invalid {
    /*
    CSS pseudo-class is applied automatically to elements whose contents fail to validate according to the input's type setting
    */
}

:-moz-submit-invalid {
    /*
    pseudo-class is applied to the submit button on form fields when one or more form fields doesn't validate.
    */
}


:required {
    /*
    pseudo-class is now automatically applied to fields that specify the required attribute;
    */
}

:optional {
    /*
    pseudo-class is applied to all other fields.
    */
}

:-moz-placeholder {
    /*
    pseudo-class has been added, to let you style placeholder text in form fields.
    */
    text-align: center;
}

:-moz-focusring {
    /*
    pseudo-selector lets you specify the appearance of an element when Gecko believes the element should have a focus indication rendered
    */
}

.contactForm button.send {
    background: transparent;
    border: 0;
    width: 100px;
    height: 100px;
}

.contactForm button svg {
    transition: 600ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 600ms;
    -webkit-transition-timing-function: ease-in-out;
    fill: #555;
}

.contact button svg:hover {
    fill: #222;
}

#littleBirdsMessage {

}

#littleBirdsMessage:hover {

}

form.contactForm {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactForm .fieldSet {
    display: flex;
    flex-direction: column;
}
.contactForm input {
    padding: 9px;
    margin: 4px;
}
.contactForm textarea {
    height: 100px;
}

.contactForm button {
    position: relative;
}

@media(max-width:800px) {
    form.contactForm {
        flex-flow: column wrap;
    }
}


.contactForm button svg {
    position: absolute;
    left: 18px;
    top: -30px;
    width: 250%;
    height: 250%;
    transition: 600ms;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: 600ms;
    -webkit-transition-timing-function: ease-in-out;
    fill: #999;
}


/* contact */
#littleBird {

    d: path('M126.542,52.768c0,0-5.907-9.327-16.166-8.705 C100.117,44.685,96.387,48.4,96.387,48.4S85.842,42.445,67.5,44S29.354,76.962,22.854,87.962c25-7.5,29.849-13.825,46.147-9.025 C67.034,83.336,63.896,87.039,39,98.975C26.859,102.682,15,104,15,104s19.199,4.4,32.699-0.1 C39.898,114.1,9.467,129.129,9.467,129.129s47.126-10.144,65.468-17.604c11.826-5.197,11.814-6.024,14.998-7.652 c3.566,1.127,6.343,4.102,5.865,8.949C94.487,126.135,68.5,134.5,68.5,134.5s52.681-5.731,54.5-36 c0.042-15.53-5.021-18.926-6.096-29.566C115.499,55,126.542,52.768,126.542,52.768z');

    stroke: none;
    fill: #999;
    transform: rotate(0deg);
}


.contactForm button.send:hover svg {
    transform: rotate(-15deg);
    fill: #666;
}


.contactForm button.send:hover #littleBird {
    animation-name: littleBird;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    fill: #666;
}

#littleBirdsMessage {
    d: path("M144.513,75.762 c-1.398,2.011-3.156,3.408-5.499,4.621c-5.733,2.968-12.765,1.288-16.258-5.46c-3.728-7.202-1.968-16.047,5.793-20.065  c6.083-3.149,12.366-0.948,15.387,4.891c2.715,5.244,1.371,9.842-1.881,11.524c-1.397,0.724-3.161,0.484-4.215-1.72l-0.104,0.055  c-0.157,2.696-1.239,4.542-3.337,5.628c-2.028,1.05-4.628,0.312-6.058-2.45c-2.244-4.335-0.862-10.06,3.998-12.575  c1.469-0.76,2.994-1.151,4.12-1.202l2.087,6.943c0.852,2.928,1.903,3.936,3.076,3.373c1.819-0.854,2.562-4.298,0.482-8.318  c-2.645-5.104-7.584-7.201-13.005-4.396c-5.699,2.95-8.135,9.975-4.462,17.071c3.023,5.84,8.715,7.502,13.89,4.824  c1.993-1.032,3.628-2.411,4.646-3.958L144.513,75.762z M134.772,61.654c-0.421,0.042-1.089,0.208-1.893,0.626 c-3.077,1.593-4.058,5.779-2.303,9.17c0.798,1.539,2.146,2.259,3.684,1.463c2.028-1.049,2.542-4.596,1.804-6.963L134.772,61.654z");
}

.contactForm button.send:hover #littleBirdsMessage {
    animation-name: littleBirdsMessage;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes littleBirdsMessage {
    50% {
        transform: rotate(5deg);
    }
}

@keyframes littleBird {

    0% {
        d: path("M126.542,52.768c0,0-5.907-9.327-16.166-8.705 S96.387,48.4,96.387,48.4S83.951,33.804,65.609,35.358S22,38.25,22,38.25s25.978,11.548,35.5,17.5 c5.17,3.232,12.031,10.848,14.799,16.05C70.332,76.199,67.899,89,39,98.974C27.394,102.614,15,104,15,104s19.199,4.4,32.699-0.1 c-7.8,10.199-38.231,25.229-38.231,25.229s47.126-10.144,65.468-17.604c18.342-7.462,20.207-12.649,20.207-12.649 s11.107,4.125,20.511,19.356c9.604,15.559,7.847,37.268,7.847,37.268s12.941-30.889,8.016-60.142 C129.099,81,117.979,79.574,116.904,68.934C115.499,55,126.542,52.768,126.542,52.768z");
    }


    10% {
        d: path('M126.542,52.768c0,0-5.907-9.327-16.166-8.705 S96.387,48.4,96.387,48.4S83.951,33.804,65.609,35.358s-50.673,17.41-50.673,17.41s31.825-0.667,41.347,5.285 c5.17,3.232,13.248,8.545,16.016,13.747C70.332,76.199,67.899,89,39,98.974C27.394,102.614,15,104,15,104s19.199,4.4,32.699-0.1 c-7.8,10.199-38.231,25.229-38.231,25.229s47.126-10.144,65.468-17.604c18.342-7.462,20.207-12.649,20.207-12.649 s14.301,11.716,13.99,30.058c-0.299,17.63-7.461,30.467-7.461,30.467s34.77-34.789,29.844-64.042 C129.099,81,117.979,79.574,116.904,68.934C115.499,55,126.542,52.768,126.542,52.768z');
    }

    25% {
        d: path("M126.542,52.768c0,0-5.907-9.327-16.166-8.705 C100.117,44.685,96.387,48.4,96.387,48.4s-10.041-8.455-28.382-6.9C49.663,43.055,25,60,18.5,71c25-7.5,51.031-4.402,53.799,0.8 C70.332,76.198,67.898,89,39,98.975C24.492,103.209,15,104,15,104s19.199,4.4,32.699-0.1C39.898,114.1,8.333,129.5,8.333,129.5 s48.26-10.515,66.602-17.976c18.342-7.462,20.207-12.649,20.207-12.649s2.579,2.923,0.656,13.946C93.5,126,82,144,82,144 s42.681-16.41,44.5-46.679c0.042-15.53-8.521-17.747-9.596-28.388C115.499,55,126.542,52.768,126.542,52.768z");

    }

    50% {
        d: path('M126.542,52.768c0,0-5.907-9.327-16.166-8.705 C100.117,44.685,96.387,48.4,96.387,48.4S85.842,42.445,67.5,44S29.354,76.962,22.854,87.962c25-7.5,29.849-13.825,46.147-9.025 C67.034,83.336,63.896,87.039,39,98.975C26.859,102.682,15,104,15,104s19.199,4.4,32.699-0.1 C39.898,114.1,9.467,129.129,9.467,129.129s47.126-10.144,65.468-17.604c11.826-5.197,11.814-6.024,14.998-7.652 c3.566,1.127,6.343,4.102,5.865,8.949C94.487,126.135,68.5,134.5,68.5,134.5s52.681-5.731,54.5-36 c0.042-15.53-5.021-18.926-6.096-29.566C115.499,55,126.542,52.768,126.542,52.768z');

        transform: rotate(5deg);
    }

    75% {
        d: path("M126.542,52.768c0,0-5.907-9.327-16.166-8.705 C100.117,44.685,96.387,48.4,96.387,48.4s-10.041-8.455-28.382-6.9C49.663,43.055,25,60,18.5,71c25-7.5,51.031-4.402,53.799,0.8 C70.332,76.198,67.898,89,39,98.975C24.492,103.209,15,104,15,104s19.199,4.4,32.699-0.1C39.898,114.1,8.333,129.5,8.333,129.5 s48.26-10.515,66.602-17.976c18.342-7.462,20.207-12.649,20.207-12.649s2.579,2.923,0.656,13.946C93.5,126,82,144,82,144 s42.681-16.41,44.5-46.679c0.042-15.53-8.521-17.747-9.596-28.388C115.499,55,126.542,52.768,126.542,52.768z");

    }
    90% {
        d: path('M126.542,52.768c0,0-5.907-9.327-16.166-8.705 S96.387,48.4,96.387,48.4S83.951,33.804,65.609,35.358s-50.673,17.41-50.673,17.41s31.825-0.667,41.347,5.285 c5.17,3.232,13.248,8.545,16.016,13.747C70.332,76.199,67.899,89,39,98.974C27.394,102.614,15,104,15,104s19.199,4.4,32.699-0.1 c-7.8,10.199-38.231,25.229-38.231,25.229s47.126-10.144,65.468-17.604c18.342-7.462,20.207-12.649,20.207-12.649 s14.301,11.716,13.99,30.058c-0.299,17.63-7.461,30.467-7.461,30.467s34.77-34.789,29.844-64.042 C129.099,81,117.979,79.574,116.904,68.934C115.499,55,126.542,52.768,126.542,52.768z');

    }

    100% {
        d: path("M126.542,52.768c0,0-5.907-9.327-16.166-8.705 S96.387,48.4,96.387,48.4S83.951,33.804,65.609,35.358S22,38.25,22,38.25s25.978,11.548,35.5,17.5 c5.17,3.232,12.031,10.848,14.799,16.05C70.332,76.199,67.899,89,39,98.974C27.394,102.614,15,104,15,104s19.199,4.4,32.699-0.1 c-7.8,10.199-38.231,25.229-38.231,25.229s47.126-10.144,65.468-17.604c18.342-7.462,20.207-12.649,20.207-12.649 s11.107,4.125,20.511,19.356c9.604,15.559,7.847,37.268,7.847,37.268s12.941-30.889,8.016-60.142 C129.099,81,117.979,79.574,116.904,68.934C115.499,55,126.542,52.768,126.542,52.768z");
    }
}

/* Home page */

#frontEndCat {
    d: path("M87.023,232.771c-1.055,6.207-2.635,7.336-12.643,6.771s-21.286,7.712-28.134,3.198 c-6.848-4.515-8.315-9.332-12.002-11.589c-3.688-2.258-14.226-10.326-19.408-20.387c-7.267-14.106-10.157-25.957-6.207-45.142  c5.126-24.9,6.771-64.891,14.671-73.354c6.737-7.219-2.257,58.684-7.9,75.047c-6.081,17.637,15.821,60.111,12.79,44.954 c-2.257-11.285-9.028-18.621-6.395-38.558c2.273-17.21,16.767-37.995,26.774-50.973c10.009-12.979,13.503-19.488,28.971-31.6 c8.041-6.295,4.631-6.959,0-10.721c-6.139-4.989-9.166-19.2-8.112-23.834c-7.481-6.959-18.359-26.46-12.958-26.951 c16.574-1.504,22.958,9.746,26.864,10.157c2.022,0.213,21.729-10.388,19.902-9.028c-3.997,2.977-1.006-26.533-0.443-26.697 c3.874-1.128,18.876,1.493,18.889,24.804c2.913,5.079,17.528,16.16,15.035,34.621c-1.168,8.642-0.45,15.79-0.45,15.79 s6.606,18.021,7.643,33.864c1.01,15.424-1.072,43.224-17.69,57.467c-18.433,15.8-12.334,36.202-9.173,46.359 c3.161,10.156,10.677,9.028,6.918,15.799c-3.757,6.771-9.066,5.644-12.186,5.079c-4.78,3.95-0.565,0.564-4.78,3.95 c-4.214,3.386-9.817,3.197-15.611-1.316 M97.09,58.593c0,0-2.76-7.048-7.911-5.761c-3.495,0.874-5.99,5.729-5.99,5.729 s1.579,5.112,6.132,5.213C94.852,63.895,97.09,58.593,97.09,58.593z M117.414,48.82c2.127-4.026-1.385-7.59-1.385-7.59 s-5.062,0.589-7.524,3.217c-3.632,3.874-0.479,8.944-0.479,8.944S114.828,53.713,117.414,48.82z");

    fill: #555;
}

#backEndCat {
    d: path("M82.722,228.832c9.618-0.542,20.459,7.412,27.04,3.074c6.582-4.339-0.506,0,3.038-2.169 c3.543-2.17,1.59,20.246-2.206,33.804c-3.311,11.821-21.151,22.236-33.083,26.032c-8.015,2.55-15.184,8.782,1.085,8.135 c9.483-0.378,29.878-11.562,38.506-21.693c12.066-14.169,5.988-50.378,11.931-63.994c4.971-11.389,6.761-27.297,4.229-46.459 c-2.184-16.54-16.113-36.517-25.732-48.99c-9.62-12.474-12.979-18.73-27.846-30.37c-7.728-6.05-4.45-6.688,0-10.305 c5.901-4.794,8.81-18.452,7.797-22.907c7.19-6.688,17.646-25.431,12.454-25.902c-15.929-1.446-22.065,9.366-25.82,9.762 c-1.942,0.205-20.882-9.984-19.127-8.677c3.841,2.861,0.967-25.501,0.426-25.658C51.689,1.43,37.271,3.949,37.258,26.354 c-2.8,4.881-16.846,15.531-14.45,33.274c1.122,8.306,0.433,15.176,0.433,15.176s-6.35,17.32-7.347,32.547 c-0.969,14.825,1.031,41.542,17.003,55.232c17.716,15.186,11.854,34.794,8.816,44.557c-3.038,9.762-10.262,8.678-6.649,15.185 c3.612,6.508,8.714,5.425,11.712,4.881c4.594,3.797,0.544,0.544,4.594,3.797c4.05,3.254,9.436,3.073,15.005-1.265");

    fill: #555;
}
