
/* align uneven content at the bottom */
.page.projects section {
    justify-content: center;
}

.page h1 {
    margin: 0 auto;
}

.project-grid-item {
    background: #fff no-repeat center center;
    background-size: contain;
    background-position-y: 40px;

    /*border-radius: 0 7px 0 0;
    box-shadow: 5px 10px 15px #888888;*/
    width: 100%;
    min-width: 350px;
    max-width: 500px;
    height: 350px;
}

.page section .project-grid-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    padding: 0 2rem 0 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: left;
    text-align: left;
    text-decoration: none;
    color: black;

}


.glassyReflection {
    background-image: linear-gradient(189deg, rgba(230,230,230,1) 0%,rgba(234,234,234,0.5) 40%,rgba(219,219,219,0.5) 40%,rgba(255,255,255,0.5) 92%,rgba(247,247,247,0.5) 100%);
}


.glassyReflection:hover {
    background-image: linear-gradient(189deg, rgba(230,230,230,0.2) 0%,rgba(234,234,234,0.1) 40%,rgba(219,219,219,0.1) 40%,rgba(255,255,255,0.1) 92%,rgba(247,247,247,0.1) 100%);
}


.page .faveButton {
    position: absolute;
    right: -6px;
    top: -4px;
    border: 0;
    font-size: 150%;
    background: transparent;
    transition: all 0.3s;
}

.page .faveButton.isFavedButton {
    color: red;
}

.page .faveButton.isNotFavedButton {
    color: #888;
}

.page .faveButton:hover {
    font-size: 180%;
    right: -8px;
    top: -6px;
    color: red;
    opacity: 1;
}
.page.project-item .faveButton {
    right: -44px;
    top: -65px;
    font-size: 280%;
}

.page.project-item .faveButton:hover {
    right: -47px;
    top: -75px;
    font-size: 350%;
}


.page .faveButton:focus {
    outline:none;
}


.project-item header {
    position: relative;
    flex-grow: 1;
    margin: 10px 10px auto 10px;
    max-width: 65%;
}

.page.project-item .faveButton {
    color: inherit;
    opacity: 0.5
}